body {
  flex: 1;
  background-color: aquamarine;
}

.crop{
  position: relative;
  width: 240px;
  height: 160px;
  overflow: hidden;/*reset margin of figure tag*/
}
.crop img{
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
